/* CSS分類 */

/* Global Style */

html {
    background-color: #60a6b5;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 87%;
    /* 16px 87% 13.92px 14px */
}

.container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: white;
    padding-left: 40px;
    padding-right: 3em;
    /* em 14px x3 42px */
}

/* Header Style */

.header {
    color: lightpink;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    /* h1 正常 200% 16px 1.65 23px */
}

/* Nav Style */
.header-title {
    margin: 0;
    font-weight: normal;
    font-size: 165%;
}

.header-slogan {

}

/* 最外層的nav */
.nav {
    margin-top: 5px;
}
/* 第一組ul */
.nav-list {
    display: flex;
    /* flex-direction: row-reverse; */
    margin: 0;
    padding: 0;
}
/* 第一組ul li */
.nav-list-item {
    list-style-type: none;
    margin-right: 15px;
}
.nav-list-item:hover {
 background-color: #60a6b5;   
}
/* border放a tag裡 */
.nav-list-item-link {
    text-decoration: none;
    color: lightslategray;
    text-align: center;
    padding: 6px 10px;
    text-transform: uppercase;
    border: 1px solid #e5e9dc;
    margin-right: 10px;
}
/* 第二組ul 第二組預設none */
.nav-sublist {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    /* 都先歸零在調整 */
    background-color: beige;
    min-width: 20px;
    box-shadow: 0px 4px 6px 0px black;
    z-index: 1;
    list-style-type: none;
}
.nav-sublist-item-link {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
    text-transform: uppercase;
    border: 2px solid lightgray;
}

/* 碰到第一組li第二組顯示 */
.sub:hover .nav-sublist {
    display: block;
}
/* .nav-sublist-item {
    list-style-type: none;
} */
/* .nav-sublist-item-link {
    text-decoration: none;
    color: lightslategray;
    
} */

/* 這個class下面的p裡面的東西會被執行 */
.secClass p{
    color: red;
}

/* .highlight:hover {
    color: red;
} */
/* a:link {
    text-decoration:#e5e5e9dc ;
}
a:visited {
    text-decoration: #e5e5e9dc;
}

a:hover {
    text-decoration: #e5e5e9dc;
}

a:active {
    text-decoration: #e5e5e9dc;
} */


.content-area {
    display: flex;
    border-top: flex;
    border-top: 0.5px solid#e5e9dc;
    border-bottom: 2px solid #e5e5e9dc;
    padding: 7px;
}

/* Main-area Style */

.main-area {
    width: 60%;
    padding-right: 40px;
}

/* Sider Style */

.sidebar {
    width: 40%;
    padding: 20px 40px;
    font-size: 85%;
    color: green;
    background-color: linen;
    /* 13.92px 0.85% 11.83px */
}

/* Footer Style */

.footer {
    text-align: center;
    font-size: 85%;
    color: #999;
    padding: 70px;
}